.main {
  max-width: 1440px;
  height: auto;
  margin: auto;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main svg{
  margin-top: 5rem;
  align-self: center;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--header-font);
  height:100%;
  width: 100%;
  margin-top: 10rem;
}

.header {
  font-size: 3rem;
}

.accent {
  color: var(--accent-color);
}

.description {
  font-size: 1.5rem;
}

@media only screen and (max-width:576px) {
  .main {
    padding: 2rem;
    text-align: center;
  }

  .header {
    font-size: 2.5rem;
  }

  .description {
    font-size: 1.1rem;
  }
}